[submodule "css/pie"]
	path = css/pie
	url = https://github.com/lojjic/PIE.git
[submodule "lib/ie8"]
	path = lib/ie8
	url = git@github.com:WebReflection/ie8.git
[submodule "lib/dom4"]
	path = lib/dom4
	url = git@github.com:WebReflection/dom4.git
[submodule "lib/es5-shim"]
	path = lib/es5-shim
	url = git@github.com:es-shims/es5-shim.git
[submodule "lib/polyfill"]
	path = lib/polyfill
	url = https://github.com/inexorabletash/polyfill.git
