[submodule "lib/ie8"]
	path = lib/ie8
	url = https://github.com/shawnbot/ie8.git
[submodule "lib/dom4"]
	path = lib/dom4
	url = https://github.com/shawnbot/dom4.git
[submodule "lib/es5-shim"]
	path = lib/es5-shim
	url = https://github.com/es-shims/es5-shim.git
[submodule "lib/html5shiv"]
	path = lib/html5shiv
	url = https://github.com/aFarkas/html5shiv.git
